[Desktop Entry]
Type=Application
Name=Meshtastic
GenericName=Mesh Radio
Comment=Meshtastic client for Linux
X-Geoclue-Reason=Show your node and mesh neighbours on the map.
Exec=@EXEC@
Icon=org.meshtastic.Meshtastic
Terminal=false
Categories=Network;Utility;
StartupWMClass=org.meshtastic.Meshtastic
Keywords=meshtastic;mesh;lora;radio;
